<!DOCTYPE html>
<html>
<head>
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="menu.js"></script>
</head>
<body>
	<h1>This is my contact page</h1>
	<p>Reach out</p>
	<form method="post" action="/contact">
		<label>Topic:</label><br>
		<input required="true" type="text" name="topic">
		<br>
		<label>Message:</label><br>
		<textarea required="true" type="text" name="message"></textarea>
		<br>
		<label>Name</label><br>
		<input required="true" type="text" name="name">
		<br>
		<label>Email</label><br>
		<input required="true" type="text" name="email">
		<br>
		<input required="true" type="submit" name="submit" value="submit">
	</form>
</body>
</html>